<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<h1>Catalog</h1>

	<!-- URL for create a new category -->
	<a href = '{{url_for('addCategory') }}'>Create a new Category</a>
	<br>

	<!-- URL for create a new item -->
	<a href = '{{url_for('addItem') }}'>Create a new Item</a>


	<!-- Flashing message to confirm category was properly created -->
	<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
      {% if messages %}      
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
	</div>


	<h2> Category List: </h2>
	<br>
	<!-- Display a list of categories -->
	{% for i in categories %}
		<div class = 'categorylist' >
			<a href = '{{url_for('categoryItems', category_id = i.id) }}'>{{i.name}}</a>
		</dive>
	{% endfor %}

	<br>
	<h2> Item List: </h2>
	<br>
	<!-- Display a list of items -->
		{% for i in items %}
		<div class = 'listitems'>
			<a href = '{{url_for('item', category_id = i.category_id, item_id = i.id) }}'>{{i.name}}</a>
		</div>
		{% endfor %}


</body>
</html>