<html>
<head>
 <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">  --> 
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='freelancer.css') }}">
</head>
<body>
<ul class="nav nav-pills">
	<li role="presentation" ><a href = '{{url_for('catalogMain') }}'>Catalog </a></li>
	<li role="presentation" ><a href = '{{url_for('addCategory') }}'>Create a new Category</a></li>
	<li role="presentation"><a href = '{{url_for('addItem') }}'>Create a new Item</a></li>
</ul>

<form action="{{url_for('itemEdit', category_id = item.category_id, item_id = item.id )}}" method = 'POST'>

<div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">Name:</span>
  <input type="text" class="form-control" name='name' placeholder='{{ item.name }}' aria-describedby="sizing-addon1">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</div>

<div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">Description:</span>
  <input type="text" class="form-control" name='description' placeholder=' {{ item.description }} ' aria-describedby="sizing-addon1">
</div>

<div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">Price:</span>
  <input type="text" class="form-control" name='price' placeholder='{{ item.price }}' aria-describedby="sizing-addon1">
</div>

<p>Category:</p>
	
<select name='category'>
	{% for i in categories %}
  		<option value='{{i.id}}'>{{i.name}}</option>
  	{% endfor %}
</select>
	
<input type='submit' value='Update'>

</form>

</body>

</html>